.App {
  text-align: center;
}
h1 {
  font-family: 'Gamja Flower';
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 125px;
  color: rgb(109, 17, 63);
}
h2 {
  font-family: 'Gamja Flower';

  font-size: 40px;
}
